textarea {
 padding: 10px;
 resize: none;
 width: calc( 100% - 20px );
 height: 70%;
 margin: 0;
 border: 0;
 }

textarea:focus {
 outline: none;
 }

iframe {
 margin: 0;
 border: 0;
 height: 50%;
 }

.controls {
 border-top   : 1px solid #808080;
 border-bottom: 1px solid #808080;
 padding: 10px;
 white-space: nowrap;
 overflow-x: auto;
 min-height: 23px;
 }

.controls a, .controls label {
 text-decoration: none;
 color: #000000;
 user-select: none;
 padding: 8px;
 cursor: pointer;
 }

.controls a:hover, .controls label:hover {
 background: #f0f0f0;
 }

		
