<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <title>{{ page.title }} - {{ site.title }}</title>
  <meta property="og:title" content="Just Another Site" />
  <meta property="og:locale" content="en_US" />
  <meta name="description" content="Selamat datang di blog Bung Ferry. Silakan, lihat sekeliling dan periksa apakah ini yang Anda cari." />
  <meta property="og:description" content="Selamat datang di blog Bung Ferry. Silakan, lihat sekeliling dan periksa apakah ini yang Anda cari." />
  <meta property="og:site_name" content="Blog" />
  <meta property="og:type" content="website" />
  <meta content="https://stbi.pages.dev/og.png" property="og:image">
  <link rel="stylesheet" href="{{ 'css/style.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'css/html.css' | relative_url }}">
  <script type="text/javascript" src="https://unpkg.com/jquery@3.3.1/dist/jquery.min.js"></script>
  <style>
  #hexColor {
  color: #fefefe;
  font-family: "Courier New", Courier, monospace;
  }

  #hexBtn {
  padding: 10px;
  text-transform: uppercase;
  border: 2px solid #fefefe;
  border-radius: 4px;
  color: #fefefe;
  background: rgba(0, 0, 0, 0.56);
  cursor: pointer;
  outline: none;
  }

  #hexBtn:hover {
  background: rgb(0, 0, 0);
  }
  </style>
</head>
<body>

<section class="page">
    <div class="title">
      <p><button type= "button" id="hexBtn">Theme</button></p>
      <h1>{{ site.title }}</h1>
      <h2>{{ site.subtitle }}</h2>
      </div>

    <div class="about">
      <a class="about" href="{{ 'about.html' | relative_url }}">/ about</a>
      </div>
    
    <div class="projects">
      {{ content }}
      </ul>
      </div>
    
    <div class ="meta">
    <div class="tags">
      <a href="{{ site.path }}">Home</a> / {{ page.title }}
      </div>
      </div>

    <div id="footer">
    <li class="footer-left ">© <a href="{{ site.path }}">{{ site.title }}</a> 2019</li>
    <li class="footer-right"><a href="mailto:bungferry@my.id" target="_blank ">bungferry[at]my[dot]id</a></li>
    </ul>
  </div>
</div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
<script type="text/javascript" src="{{ 'js/script.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ 'js/bg.js' | relative_url }}"></script>
<script>

			function update()
			{
				let outty = window.hello.document;
				outty.open();
				let inny=document.getElementById("data");
				outty.write(inny.value);
				outty.close();
			};

			function goFullscreen(newWin)
			{
				if (newWin) outWin= window.open()
				else        outWin= window.open("about:blank","html_editor");
				outWin.focus();
				let outty = outWin.document;
				outty.open();
				let inny=document.getElementById("data");
				outty.write(inny.value);
				outty.close();
			}

			function realtime()
			{
				if (!document.querySelector("#realtime").checked) return;
				update();
			}

			dataArea=document.getElementById("data");
			dataArea.onkeyup=realtime;

			update();

		</script>
</body>
</html>
