<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ 'css/style.css' | relative_url }}">
</head>
<body>

<section class="page">
    <div class="title">
      <h1>{{ site.title }}</h1>
      <h2>{{ site.subtitle }}</h2>
      </div>

    <div class="about">
      <a class="about" href="{{ 'about.html' | relative_url }}">/ about</a>
      </div>
    
    <div class="projects">
      {{ content }}
      </ul>
      </div>
    
    
    <div id="footer">
    <li class="footer-left ">© {{ site.title }} 2019</li>
    <li class="footer-right"><a href="" target="_blank ">bungferry[at]my[dot]id</a></li>
    </ul>
  </div>
</div>
</section>

</body>
</html>

